html, body{
    margin:0px;
    padding:0px;
    height:100%;
    width: 100%;
}
.border-div{
    background-color: rgb(45, 45, 198);
    width: 500px;
    height: 300px;
    margin: 50px;
    color: rgb(160, 0, 0);

   /* border-style: solid;
    border-color:green;
    border-width: 10px;*/

    border: 10px solid cornflowerblue;
    /*border-radius: 50px;
    border-top-left-radius: 100px;*/
    border-radius: 10px 50px 100px 100px;

}

.background-div{
    width: 500px;
    height: 300px;
    margin: 50px;
    /*color:blueviolet;*/
    background-image: url(/gallery/frutta.png);
    /*background-repeat: repeat-y;*/
    background-size: cover;
    background-position: center center;

}
